@using Microsoft.Graph.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>Graph API result</div>
@{
    List<Group> listGroup = ViewData["GraphApiResult"] as List<Group>;
    foreach (Group group in listGroup)
    {
        <p>@group.DisplayName</p>
    }
}
